		<span flex=10></span>
		<md-card layout="column" flex> <md-card-content>
		
		
		<div layout="row" layout-margin>
			<div layout="column" flex>
				<md-input-container> <label>UBB Code</label> <textarea id="ubbcode" ng-model="ubbcode"
					cols="1"></textarea> </md-input-container>
			</div>
		</div>
		</md-card-content>
		<div class="md-actions" layout="row" layout-align="end center">
			<md-button ng-click="showMovieData()">terug</md-button>
			
			<md-button ng-click="copyUbbCode()" id="clipboard" class="md-accent md-raised" aria-label="content cut" data-clipboard-action="copy" data-clipboard-target="#ubbcode">
				Kopieer
			</md-button>
			
			
		</div>
		</md-card>